# Machine Learning to predict public sentiment from text data

**Import dataset and required libraries**

In [3]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/judge-1377884607_tweet_product_company.csv',encoding='unicode_escape')

In [3]:
pd.set_option('display.max_colwidth', None)
data.head()

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
0,".@wesley83 I have a 3G iPhone. After 3 hrs tweeting at #RISE_Austin, it was dead! I need to upgrade. Plugin stations at #SXSW.",iPhone,Negative emotion
1,"@jessedee Know about @fludapp ? Awesome iPad/iPhone app that you'll likely appreciate for its design. Also, they're giving free Ts at #SXSW",iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. They should sale them down at #SXSW.,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as crashy as this year's iPhone app. #sxsw,iPad or iPhone App,Negative emotion
4,"@sxtxstate great stuff on Fri #SXSW: Marissa Mayer (Google), Tim O'Reilly (tech books/conferences) &amp; Matt Mullenweg (Wordpress)",Google,Positive emotion

In [4]:
data.shape

(9093, 3)

In [5]:
#Drop emotion_in_tweet_is_directed_at column
data=data.drop(['emotion_in_tweet_is_directed_at'],axis=1)

In [6]:
data.head()

,tweet_text,is_there_an_emotion_directed_at_a_brand_or_product
0,".@wesley83 I have a 3G iPhone. After 3 hrs tweeting at #RISE_Austin, it was dead! I need to upgrade. Plugin stations at #SXSW.",Negative emotion
1,"@jessedee Know about @fludapp ? Awesome iPad/iPhone app that you'll likely appreciate for its design. Also, they're giving free Ts at #SXSW",Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. They should sale them down at #SXSW.,Positive emotion
3,@sxsw I hope this year's festival isn't as crashy as this year's iPhone app. #sxsw,Negative emotion
4,"@sxtxstate great stuff on Fri #SXSW: Marissa Mayer (Google), Tim O'Reilly (tech books/conferences) &amp; Matt Mullenweg (Wordpress)",Positive emotion

**Pre-processing**

In [7]:
data.columns = ["Text", "Label"]
data.head()

,Text,Label
0,".@wesley83 I have a 3G iPhone. After 3 hrs tweeting at #RISE_Austin, it was dead! I need to upgrade. Plugin stations at #SXSW.",Negative emotion
1,"@jessedee Know about @fludapp ? Awesome iPad/iPhone app that you'll likely appreciate for its design. Also, they're giving free Ts at #SXSW",Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. They should sale them down at #SXSW.,Positive emotion
3,@sxsw I hope this year's festival isn't as crashy as this year's iPhone app. #sxsw,Negative emotion
4,"@sxtxstate great stuff on Fri #SXSW: Marissa Mayer (Google), Tim O'Reilly (tech books/conferences) &amp; Matt Mullenweg (Wordpress)",Positive emotion

In [8]:
data['Label'].value_counts()

No emotion toward brand or product    5389
Positive emotion                      2978
Negative emotion                       570
I can't tell                           156
Name: Label, dtype: int64

In [9]:
data['Label']= data['Label'].map({'No emotion toward brand or product':2,'Positive emotion':3,'Negative emotion':1,"I can't tell":0})

In [10]:
data.head()

,Text,Label
0,".@wesley83 I have a 3G iPhone. After 3 hrs tweeting at #RISE_Austin, it was dead! I need to upgrade. Plugin stations at #SXSW.",1
1,"@jessedee Know about @fludapp ? Awesome iPad/iPhone app that you'll likely appreciate for its design. Also, they're giving free Ts at #SXSW",3
2,@swonderlin Can not wait for #iPad 2 also. They should sale them down at #SXSW.,3
3,@sxsw I hope this year's festival isn't as crashy as this year's iPhone app. #sxsw,1
4,"@sxtxstate great stuff on Fri #SXSW: Marissa Mayer (Google), Tim O'Reilly (tech books/conferences) &amp; Matt Mullenweg (Wordpress)",3

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9093 entries, 0 to 9092
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    9092 non-null   object
 1   Label   9093 non-null   int64
dtypes: int64(1), object(1)
memory usage: 142.2+ KB

In [13]:
#Check for null values
data.isnull().sum()

Text     1
Label    0
dtype: int64

In [18]:
#Drop null 
data=data.dropna()

In [19]:
data.isna().sum()

Text     0
Label    0
dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9092 entries, 0 to 9092
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    9092 non-null   object
 1   Label   9092 non-null   int64
dtypes: int64(1), object(1)
memory usage: 213.1+ KB

In [21]:
#Clean data using gensim library
import gensim
data['text_clean_gensim'] = data['Text'].apply(lambda x: gensim.utils.simple_preprocess(x))
data.head()

,Text,Label,text_clean_gensim
0,".@wesley83 I have a 3G iPhone. After 3 hrs tweeting at #RISE_Austin, it was dead! I need to upgrade. Plugin stations at #SXSW.",1,"[wesley, have, iphone, after, hrs, tweeting, at, rise_austin, it, was, dead, need, to, upgrade, plugin, stations, at, sxsw]"
1,"@jessedee Know about @fludapp ? Awesome iPad/iPhone app that you'll likely appreciate for its design. Also, they're giving free Ts at #SXSW",3,"[jessedee, know, about, fludapp, awesome, ipad, iphone, app, that, you, ll, likely, appreciate, for, its, design, also, they, re, giving, free, ts, at, sxsw]"
2,@swonderlin Can not wait for #iPad 2 also. They should sale them down at #SXSW.,3,"[swonderlin, can, not, wait, for, ipad, also, they, should, sale, them, down, at, sxsw]"
3,@sxsw I hope this year's festival isn't as crashy as this year's iPhone app. #sxsw,1,"[sxsw, hope, this, year, festival, isn, as, crashy, as, this, year, iphone, app, sxsw]"
4,"@sxtxstate great stuff on Fri #SXSW: Marissa Mayer (Google), Tim O'Reilly (tech books/conferences) &amp; Matt Mullenweg (Wordpress)",3,"[sxtxstate, great, stuff, on, fri, sxsw, marissa, mayer, google, tim, reilly, tech, books, conferences, amp, matt, mullenweg, wordpress]"

**Build model**

In [22]:
from keras.preprocessing import text
tokenizer = text.Tokenizer() 
tokenizer.fit_on_texts(list(data['text_clean_gensim']))
tokenized_texts = tokenizer.texts_to_sequences(data['text_clean_gensim'])

In [23]:
from keras.utils import pad_sequences
X = pad_sequences(tokenized_texts, maxlen=100)

**RNN model**

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, data['Label'].values, test_size=0.2)

In [25]:
from keras.models import Sequential
from keras.layers import Dense, Embedding, SimpleRNN, Dropout

In [33]:

model = Sequential()
model.add(Embedding(input_dim = len(tokenizer.word_index)+1, output_dim = 128,input_length=100))
model.add(SimpleRNN(10))
model.add(Dropout(0.5))
model.add(Dense(50, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(4, activation='softmax'))

In [34]:
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [35]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 100, 128)          1188352

 simple_rnn_1 (SimpleRNN)    (None, 10)                1390

 dropout_2 (Dropout)         (None, 10)                0

 dense_2 (Dense)             (None, 50)                550

 dropout_3 (Dropout)         (None, 50)                0

 dense_3 (Dense)             (None, 4)                 204

=================================================================
Total params: 1,190,496
Trainable params: 1,190,496
Non-trainable params: 0
_________________________________________________________________

In [36]:
model.fit(X_train, y_train, epochs=10, validation_split=0.1)

Epoch 1/10
205/205 [==============================] - 10s 43ms/step - loss: 1.0560 - accuracy: 0.5523 - val_loss: 0.8939 - val_accuracy: 0.5783
Epoch 2/10
205/205 [==============================] - 8s 40ms/step - loss: 0.9012 - accuracy: 0.6073 - val_loss: 0.8505 - val_accuracy: 0.6058
Epoch 3/10
205/205 [==============================] - 8s 40ms/step - loss: 0.7628 - accuracy: 0.6989 - val_loss: 0.8970 - val_accuracy: 0.5948
Epoch 4/10
205/205 [==============================] - 8s 37ms/step - loss: 0.6379 - accuracy: 0.7676 - val_loss: 0.9475 - val_accuracy: 0.6044
Epoch 5/10
205/205 [==============================] - 9s 46ms/step - loss: 0.5360 - accuracy: 0.8127 - val_loss: 1.0418 - val_accuracy: 0.5989
Epoch 6/10
205/205 [==============================] - 9s 46ms/step - loss: 0.4867 - accuracy: 0.8299 - val_loss: 1.0951 - val_accuracy: 0.6016
Epoch 7/10
205/205 [==============================] - 8s 39ms/step - loss: 0.4539 - accuracy: 0.8429 - val_loss: 1.1486 - val_accuracy: 0.5893
Epoch 8/10
205/205 [==============================] - 8s 38ms/step - loss: 0.4329 - accuracy: 0.8475 - val_loss: 1.1962 - val_accuracy: 0.5907
Epoch 9/10
205/205 [==============================] - 8s 39ms/step - loss: 0.3889 - accuracy: 0.8629 - val_loss: 1.2319 - val_accuracy: 0.5824
Epoch 10/10
205/205 [==============================] - 8s 39ms/step - loss: 0.3691 - accuracy: 0.8723 - val_loss: 1.3090 - val_accuracy: 0.5728

Test model

In [38]:
test1 = "Enjoying new iphone so far"
test1 = tokenizer.texts_to_sequences([test1])
test2 = pad_sequences(test1, maxlen=100)

In [41]:
np.argmax(model.predict(test2))

1/1 [==============================] - 0s 22ms/step

3

As per mapping 3 stands for positive emotion

**LSTM modelling**

In [64]:
df=pd.read_csv('/content/judge-1377884607_tweet_product_company.csv',encoding='unicode_escape')

In [65]:
df.shape

(9093, 3)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9093 entries, 0 to 9092
Data columns (total 3 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   tweet_text                                          9092 non-null   object
 1   emotion_in_tweet_is_directed_at                     3291 non-null   object
 2   is_there_an_emotion_directed_at_a_brand_or_product  9093 non-null   object
dtypes: object(3)
memory usage: 213.2+ KB

In [67]:
df=df.drop(['emotion_in_tweet_is_directed_at'],axis=1)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9093 entries, 0 to 9092
Data columns (total 2 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   tweet_text                                          9092 non-null   object
 1   is_there_an_emotion_directed_at_a_brand_or_product  9093 non-null   object
dtypes: object(2)
memory usage: 142.2+ KB

In [69]:
df=df.dropna()

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9092 entries, 0 to 9092
Data columns (total 2 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   tweet_text                                          9092 non-null   object
 1   is_there_an_emotion_directed_at_a_brand_or_product  9092 non-null   object
dtypes: object(2)
memory usage: 213.1+ KB

In [71]:
df.rename(columns = {'is_there_an_emotion_directed_at_a_brand_or_product':'emotion'}, inplace=True)
df.head()

                                          tweet_text           emotion
0  .@wesley83 I have a 3G iPhone. After 3 hrs twe...  Negative emotion
1  @jessedee Know about @fludapp ? Awesome iPad/i...  Positive emotion
2  @swonderlin Can not wait for #iPad 2 also. The...  Positive emotion
3  @sxsw I hope this year's festival isn't as cra...  Negative emotion
4  @sxtxstate great stuff on Fri #SXSW: Marissa M...  Positive emotion

In [72]:
#Clean data using gensim library
import gensim
df['text_clean_gensim'] = df['tweet_text'].apply(lambda x: gensim.utils.simple_preprocess(x))
df.head()

,tweet_text,emotion,text_clean_gensim
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,Negative emotion,"[wesley, have, iphone, after, hrs, tweeting, a..."
1,@jessedee Know about @fludapp ? Awesome iPad/i...,Positive emotion,"[jessedee, know, about, fludapp, awesome, ipad..."
2,@swonderlin Can not wait for #iPad 2 also. The...,Positive emotion,"[swonderlin, can, not, wait, for, ipad, also, ..."
3,@sxsw I hope this year's festival isn't as cra...,Negative emotion,"[sxsw, hope, this, year, festival, isn, as, cr..."
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Positive emotion,"[sxtxstate, great, stuff, on, fri, sxsw, maris..."

In [74]:
df['emotion'].value_counts()

No emotion toward brand or product    5388
Positive emotion                      2978
Negative emotion                       570
I can't tell                           156
Name: emotion, dtype: int64

In [75]:
# Encoding class label to brief
label_encoder = {'Negative emotion': 1,
                 'Positive emotion': 2,
                 'No emotion toward brand or product': 3,
                 "I can't tell":4}

df['emotion'] = df['emotion'].map(label_encoder)

In [76]:
df.head()

,tweet_text,emotion,text_clean_gensim
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,1,"[wesley, have, iphone, after, hrs, tweeting, a..."
1,@jessedee Know about @fludapp ? Awesome iPad/i...,2,"[jessedee, know, about, fludapp, awesome, ipad..."
2,@swonderlin Can not wait for #iPad 2 also. The...,2,"[swonderlin, can, not, wait, for, ipad, also, ..."
3,@sxsw I hope this year's festival isn't as cra...,1,"[sxsw, hope, this, year, festival, isn, as, cr..."
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,2,"[sxtxstate, great, stuff, on, fri, sxsw, maris..."

In [77]:
from keras.preprocessing import text
tokenizer = text.Tokenizer() 
tokenizer.fit_on_texts(list(df['text_clean_gensim']))
tokenized_texts = tokenizer.texts_to_sequences(df['text_clean_gensim'])

In [78]:
from keras.utils import pad_sequences
X = pad_sequences(tokenized_texts, maxlen=100)

In [79]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, df['emotion'].values, test_size=0.2,random_state=42)

In [80]:
X_train.shape, X_test.shape, y_train.shape,  y_test.shape

((7273, 100), (1819, 100), (7273,), (1819,))

In [81]:
from keras.layers import Dense, LSTM, Embedding
from keras.layers import Dropout
from keras.models import Sequential

In [82]:
vocabulary_size = len(tokenizer.word_index)+1

In [83]:
seq_len = X_train.shape[1]
model = Sequential()
model.add(Embedding(vocabulary_size, seq_len, input_length=seq_len))
model.add(LSTM(50,return_sequences=True))
model.add(LSTM(50))
model.add(Dense(50,activation='relu'))
model.add(Dense(vocabulary_size, activation='softmax'))

In [84]:
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [85]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 100, 100)          928400

 lstm_7 (LSTM)               (None, 100, 50)           30200

 lstm_8 (LSTM)               (None, 50)                20200

 dense_8 (Dense)             (None, 50)                2550

 dense_9 (Dense)             (None, 9284)              473484

=================================================================
Total params: 1,454,834
Trainable params: 1,454,834
Non-trainable params: 0
_________________________________________________________________

In [86]:
model.fit(X_train, y_train, epochs=10, validation_split=0.1)

Epoch 1/10
205/205 [==============================] - 6s 16ms/step - loss: 2.2817 - accuracy: 0.5236 - val_loss: 0.8977 - val_accuracy: 0.6346
Epoch 2/10
205/205 [==============================] - 2s 12ms/step - loss: 0.9279 - accuracy: 0.5899 - val_loss: 0.8767 - val_accuracy: 0.6346
Epoch 3/10
205/205 [==============================] - 2s 12ms/step - loss: 0.9279 - accuracy: 0.5899 - val_loss: 0.8805 - val_accuracy: 0.6346
Epoch 4/10
205/205 [==============================] - 2s 12ms/step - loss: 0.9295 - accuracy: 0.5899 - val_loss: 0.8806 - val_accuracy: 0.6346
Epoch 5/10
205/205 [==============================] - 2s 12ms/step - loss: 0.9293 - accuracy: 0.5899 - val_loss: 0.8963 - val_accuracy: 0.6346
Epoch 6/10
205/205 [==============================] - 3s 16ms/step - loss: 0.9279 - accuracy: 0.5899 - val_loss: 0.8752 - val_accuracy: 0.6346
Epoch 7/10
205/205 [==============================] - 2s 11ms/step - loss: 0.9291 - accuracy: 0.5899 - val_loss: 0.8806 - val_accuracy: 0.6346
Epoch 8/10
205/205 [==============================] - 2s 11ms/step - loss: 0.9310 - accuracy: 0.5899 - val_loss: 0.8763 - val_accuracy: 0.6346
Epoch 9/10
205/205 [==============================] - 3s 13ms/step - loss: 0.9244 - accuracy: 0.5899 - val_loss: 0.8788 - val_accuracy: 0.6346
Epoch 10/10
205/205 [==============================] - 3s 13ms/step - loss: 0.8815 - accuracy: 0.6015 - val_loss: 0.8621 - val_accuracy: 0.6305

LSTM model shows an accuracy of 60%

In [87]:
y_pred = model.predict(X_test)

57/57 [==============================] - 2s 6ms/step